numpy==1.26.4
pandas
matplotlib
seaborn
scikit-learn
tensorflow==2.15.0
torch
fasttext
gensim
nltk
spacy
opencv-python
plotly
graphviz
dlib
tqdm
joblib
xgboost
lightgbm
catboost
keras
onnx
pyaudio
mediapipe
pillow
tensorboard
flask
optuna
ray
flask-api
lime